* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0;
}

body {
  background: #E0E2D8;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background: #FD00BB1C;
  color: #FFFFFF;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  border: 1px solid #020202;
  border-radius: 0.5rem;
}

p {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1.5rem;
  color: #FDC700;
  background: #54605A91;
  border-radius: 0.5rem;
  text-align: center;
}
 
strong, em{
  font-weight: bold;
  color: #FFD10E;
}
 
.main-header {
  margin: 2rem;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #C7FAA27A;
}

.box {
  background: #B4C5BE;
  min-width: 20rem;
  min-height: 30rem;
  border: 2px solid #000000;
  min-height: 200px;
  margin: 2rem 2rem;
  border-radius: 3rem;
  display: inline-block;
  margin: 2rem 0;
}

.ing1 {
  background: url(js1.jpg);
  background-size: cover;
  background-position: center;
}

.ing2 {
  background: url(js2.jpg);
  background-size: cover;
  background-position: center;
}

.ing3 {
  background: url(js3.jpg);
  background-size: cover;
  background-position: center;
}

.ing4 {
  background: url(js4.jpg);
  background-size: cover;
  background-position: center;
}

.ing5 {
  background: url(js5.jpg);
  background-size: cover;
  background-position: center;
}

.ing6 {
  background: url(js6.jpg);
  background-size: cover;
  background-position: center;
}

footer {
  background: #72DAE43D;
}

footer p {
  color: #DADADA;
  margin: 3rem;
}
